@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap');

* {
  --lightSahdes: #F7F7F6;
  --lightAccent: #566F6E;
  --mainBrandColor: #A5B494;
  --darkAccent: #766D74;
  --darkShades: #3E4049;
	--spacing: .1rem;
	--radius: .30rem;
	--transition: all .3s linear;
	--max-width: 1170px;
	--fixed-width: 620px;
	--shadow: 0 1px 3px rgba(0, 0, 0, .2);
}
body {
	background-color: var(--lightSahdes);
	line-height: 1.5;
	font-size: 0.875rem;
	color: var(--darkShades);
	font-family: 'IBM Plex Sans', sans-serif;
}

*, ::after, ::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	color: var(--darkShades);
}
a {
	text-decoration: none;
	color: var(--darkShades);
}

h1, h2, h3, h4, h5 {
	letter-spacing: var(--spacing);
	text-transform: capitalize;
	line-height: 1.25;
	margin-bottom: .75rem;
	font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.25rem;
}
h4 {
	font-size: .875rem;
}
p {
	margin-bottom: 1.25rem;
	color: var(--lightAccent);
}

@media screen and (min-width: 880px){
	h1, h2, h3, h4, h5 {
		line-height: 1;
	}
	
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 1.75rem;
	}
	h4 {
		font-size: 1rem;
	}
	body {
		font-size: 1rem;
	}
}

.section {
	padding: 3rem 0;
}
.section-center {
	width: 90vw;
	margin: 0 auto;
	max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
	.section-center {
		width: 95vw;
	}
}
main {
	min-height: 95vh;
	display: grid;
	place-items: center;
}
button {
	text-transform: uppercase;
	background-color: transparent;
	color: var(--darkShades);
	padding: .375rem .75rem;
	letter-spacing: var(--spacing);
	display: inline-block;
	font-size: .875rem;
	border: 2px solid var(--darkShades);
	cursor: pointer;
	box-shadow: var(--shadow);
	border-radius: var(--radius);
	margin: .5rem;
}
button:hover {
	color: var(--lightSahdes);
	background-color: var(--darkShades);
}

footer {
	min-height: 5vh;
	display: block;
	margin: 0 auto;
	background-color: var(--darkShades);
	text-align: center;
}

footer a {
	color: var(--lightSahdes);
}